nav{
    text-decoration: none;
}
.product{
    padding: 30px 30px 0 30px;
}
select{
    width: 200px !important;
}
@media screen and (max-width: 900px) {
    .container {
        padding: 100px 30px 0 30px;

    }
}
